
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

.status, .number_of_objects
{
font-size: 18px;
}

canvas{
    border: 5px solid black;
    box-shadow: 5px 5px 5px grey;
    margin-top: 30px;
}
